.ui-button {
    background: unset;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 10px;
    white-space: nowrap;
    cursor: pointer;
}

:disabled {
    color: grey;
    opacity: 0.7;
    cursor: default;
}

.ui-button--pattern {
    background-color: #1F1919;
    border-color: #1F1919;
    color: #f594a7;
}

.ui-button--pattern:hover {
    background-color: #f594a7cf;
    color: #1F1919;
}